<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylemenu.css') }}">
</head>
<body>
    <header>
        <div id="headerSolid" class="headerSolid"></div>
        <div class="navbar">
            <div class="nav-branding">
                <a href="#"><p>logo</p></a>
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('order') }}">Service</a>
                </li>
                <li class="nav-item active">
                    <a href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>
    </header>

    <!-- Main content block -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
